<footer>
    <div class="contuct">
      <div class="one">
        <h2>Join our newsletter</h2>
        <hr>
        <br>
        <form class="sub" action="">
          <input type="email" name="email" placeholder="Enter your email address" >
          <br><button>Participation</button>
        </form>
      </div>
      <div class="one">
        <h2>information service</h2>
        <hr>
        <br>
        <p>Corporate Sales</p>
        <p>Shopping guide and publications</p>
        <p>Exhibition sites</p>
        <p>Warranty Policy</p>
        <p>Return and exchange policy</p>
        <p>call us</p>
        <p>9200000068</p>
    
      </div>
      <div class="one"><h2>Jarir Services</h2>
        <hr>
        <br>
        <p>Purchase Installment Service </p>
        <p>After-sales service</p>
        <p>Comprehensive protection service</p>
        <p>Apple devices protection</p>
        <p>Jarir discount card</p>
        <p>Jarir Gift Card</p></div>
      <div class="one"><h2>Quick links</h2>
        <hr>
        <br>
        <p>Jarir Publications</p>
        <p>Jarir Reader</p>
        <p>Rewards Program Partners</p>
        <p>Telecom Partner Service</p>
        </div>
      <div class="one"><h2>from Jarir</h2>
        <hr>
        <br>
        <p>who are we</p>
        <p>the government</p>
        <p>Investor Relationship</p>
        <p>Sustainability</p>
        <p>Reports</p>
        <p>Jobs chances</p></div>
        <div class="one">
          <h2>Connect with us</h2>
          <hr>
          <br>
          <i class="fa fa-linkedin-square" style="color: rebeccapurple;font-size: 30px;"></i>
          <i class="fa fa-twitter" style="color: lightskyblue;font-size: 30px;"></i>
          <i class="fa fa-facebook-square" style="color: blue;font-size: 30px;"></i>
          <i class="fa fa-instagram" style="color: purple;font-size: 30px;"></i>
          
        </div>
    </div>
    <div class="payment">
      <div>
        <p>terms and polices/<br>&copy All rights reserved to Jarir Bookstore
        </p>
      </div>
     
      <div>
        <i class="fa fa-cc-mastercard" style="font-size: 30px;"></i>
        <i class="fa fa-cc-discover"  style="font-size: 30px;"></i>
        <i class="fa fa-cc-visa"  style="font-size: 30px;"></i>
        <i class="fa fa-cc-paypal"  style="font-size: 30px;"></i>
      </div>
    </div>
      </footer>