<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
   <link rel="stylesheet" href="stylesheets/style.css">
   <link rel="stylesheet" href="stylesheets/checkout-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>book website</title>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous">

    </script>
    

    
</head>
<body>
    <%- include('partials/header') %>
    <section>
        <div class="basket-form">
            <div class="products">
        <div class="product">
            <div class="img1">
            <img src="images/jbb2060ns2254.jpg" alt=""></div>
            <div class="detail">
                <div class="one">
            <h3 >product accept for sale</h3><h3 style="color: red;">99.9 YER</h3></div>
            <p>Jarir book</p>
            <div class="numberinput">
                <div>
            <p class="note">note: here the detailes of book you can buy it! <br><a href="">how to get the product?</a></p></div><div class="quantity">
                <input type="number" min="1" max="9" step="1" value="1">
              </div>
            </div>
            <hr>
        </div>
           
            <a href="" style="color: #000;"><i class=" minus fa fa-minus"></i> Delete</a>
        </div>
        <div class="product">
            <div class="img1">
            <img src="images/jbb2060ns2254.jpg" alt=""></div>
            <div class="detail">
                <div class="one">
            <h3 >product accept for sale</h3><h3 style="color: red;">99.9 YER</h3></div>
            <p>Jarir book</p>
            <div class="numberinput">
                <div>
            <p class="note">note: here the detailes of book you can buy it! <br><a href="">how to get the product?</a></p></div><div class="quantity">
                <input type="number" min="1" max="9" step="1" value="1">
              </div>
            </div>
            <hr>
        </div>
           
            <a href="" style="color: #000;"><i class=" minus fa fa-minus"></i> Delete</a>
        </div>
        <div class="product">
            <div class="img1">
            <img src="images/jbb2060ns2254.jpg" alt=""></div>
            <div class="detail">
                <div class="one">
            <h3 >product accept for sale</h3><h3 style="color: red;">99.9 YER</h3></div>
            <p>Jarir book</p>
             <div class="numberinput">
                <div>
            <p class="note">note: here the detailes of book you can buy it! <br><a href="">how to get the product?</a></p></div><div class="quantity">
                <input type="number" min="1" max="9" step="1" value="1">
              </div>
            </div>
            <hr>
        </div>
           
            <a href="" style="color: #000;"><i class=" minus fa fa-minus"></i> Delete</a>
        </div>
        
        
    </div>
        <form action="" >
            <div class="form-buy">
                <div class="price">
            <p style="font-weight: bold; color: #000;">Total</p><p style="color: #d40b0e;font-weight: bold;">99.99YER</p></div>
            <div class="price">
            <p style="font-weight: bold;color: #000;">Charging</p><p style="color: green; font-weight: bold;">Free</p>
        </div>
        <div class="price">
            <p style="font-weight: bold;color: #000;">All total <span style="color: grey; font-size: smaller;">inclusice puondage</span></p><p style="color: #d40b0e;font-weight: bold;">99.99YER</p>
        </div>
           <div class="terms">
            <p style="color: grey; font-size: smaller;">press end shopping you accept the <br> "end shopping"<a href="">terms</a>
                </p>
            </div>
            <button><a href="steper" style="text-decoration: none;color: #fff;">update shopping cart</button></a>
        </div>
        </form>
    </div>
    </section>
    <%- include('partials/footer') %>
 
    
      
</body>
</html>